* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h3 {
  margin-bottom: 2%;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.padding-5 {
  padding-top: 5%;
}

/* Navbar */
.navbar {
  box-shadow: 0px 3px 30px #0000002c;
}

.navbar-brand {
  font-weight: 700;
  font-size: 2rem;
}

#navbarNav a {
  font-weight: 500;
}

.navbar .btn {
  margin-left: 1vw;
} 

/* Main */
.main-title {
  padding: 15% 1%;
}

.main-title h1 {
  font-weight: 900;
  font-size: 8vw;
}

.main-title h2 {
  padding: 2% 0% 0% 1%;
}

.main-img {
  padding: 3% 6% 0%;
}

.big-boss {
  width: 25vw;
}

/* About */
.about {
  padding-top: 10vh;  
  font-size: 1.3rem;
  text-align: center;
}

.about h3 {
  margin-bottom: 1%;
}

.about-text {
  padding: 8% 3% ;
}

.about-text p {
  text-align: justify;
  margin: 1vh;
}

.about .baby-corp {
  padding: 5%;
  width: 100%;
  height: auto;
}

.about .about-text-2{
  padding: 2% 5%;
}

/* Team */
.team .carousel-item {
  background: #000000;
}

.team .carousel-item img {
  height: 35rem;
  object-fit: cover;
  opacity: 0.5;
  }


/* Stories */
.stories .card {
  height: 30rem;
  overflow: hidden;
}

.stories .card img {
  height: 20rem;
  object-fit: cover;
}

.stories .card:hover .image-gif-preview {
  display: none;
}

.stories .card .image-gif {
  display: none;
}

.stories .card:hover .image-gif {
  display: block;
}

.stories .card:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1.05);
}

/* Footer */
.footer {
  margin: 0;
  text-align: center;
  background: #f0f0f0;
}

.footer h3 {
  padding-top: 3%;
}

.footer .copyright p {
  margin-bottom: 0;
  padding-bottom: 2%;
}

.footer .bi {
  margin: 1rem;
  font-size: 1.5rem;
  color: #000000;
}

@media (min-width: 1200px) {
  .about-text p {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 3rem;
  }
}

@media (max-width: 991.98px) {
  .about .about-text-2 {
    text-align: justify;
    margin: 1vh;
  }
  .about-text {
    padding: 0% 5%;
  }
  .navbar .btn {
    margin-left: 0;
  } 
}

@media (max-width: 767.98px) {
  .team .carousel-item img {
    height: 40vh;
    }
}

@media (max-width: 575.98px) {
  .main-title {
    padding: 10% 5%;
  }

  .main-title h1 {
    font-weight: 700;
    font-size: 15vw;
  }

  .main-img {
    padding: 0% 25% 0%;
  }

  .big-boss {
    display: none;
  }

  .big-boss-sm {
    width: 50vw;
  }
}

@media (min-width: 576px) {
  .big-boss-sm {
    display: none;
  }
} 