* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h3 {
  margin-bottom: 2%;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 3rem;
  }
}

.padding-5 {
  padding-top: 5%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h3 {
  margin-bottom: 2%;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 3rem;
  }
}

.padding-5 {
  padding-top: 5%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1725490196);
}
.navbar .btn {
  margin-left: 1vw;
}
@media (max-width: 992px) {
  .navbar .btn {
    margin-left: 0;
  }
}

.navbar-brand {
  font-weight: 700;
  font-size: 2rem;
}

#navbarNav a {
  font-weight: 500;
}

/* Main */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h3 {
  margin-bottom: 2%;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 3rem;
  }
}

.padding-5 {
  padding-top: 5%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-page {
  margin-bottom: 2%;
}

.main-title {
  padding: 15% 1%;
}
.main-title h1 {
  font-weight: 900;
  font-size: 8vw;
}
@media (max-width: 576px) {
  .main-title h1 {
    font-weight: 700;
    font-size: 15vw;
  }
}
.main-title h2 {
  padding: 2% 0% 0% 1%;
}
@media (max-width: 576px) {
  .main-title {
    padding: 10% 5%;
  }
}

.main-img {
  padding: 3% 6% 0%;
}
@media (max-width: 576px) {
  .main-img {
    padding: 0% 25% 0%;
  }
}

.big-boss {
  width: 25vw;
}
@media (max-width: 576px) {
  .big-boss {
    display: none;
  }
}

@media (max-width: 576px) {
  .big-boss-sm {
    width: 50vw;
  }
}
@media (min-width: 576px) {
  .big-boss-sm {
    display: none;
  }
}

/* About */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h3 {
  margin-bottom: 2%;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 3rem;
  }
}

.padding-5 {
  padding-top: 5%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about {
  padding-top: 10vh;
  font-size: 1.3rem;
  text-align: center;
}
.about h3 {
  margin-bottom: 1%;
}
.about .baby-corp {
  padding: 5%;
  width: 100%;
  height: auto;
}
.about .about-text-2 {
  padding: 2% 5%;
}
@media (max-width: 992px) {
  .about .about-text-2 {
    text-align: justify;
    margin: 1vh;
  }
}

.about-text {
  padding: 8% 3%;
}
.about-text p {
  text-align: justify;
  margin: 1vh;
}
@media (min-width: 1200px) {
  .about-text p {
    font-size: 1.6rem;
  }
}
@media (max-width: 992px) {
  .about-text {
    padding: 0% 5%;
  }
}

/* Team */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h3 {
  margin-bottom: 2%;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 3rem;
  }
}

.padding-5 {
  padding-top: 5%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.team .carousel-item {
  background: #000000;
}
.team .carousel-item img {
  height: 35rem;
  object-fit: cover;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .team .carousel-item img {
    height: 40vh;
  }
}

/* Stories */
.stories .card {
  height: 30rem;
  overflow: hidden;
}
.stories .card img {
  height: 20rem;
  object-fit: cover;
}
.stories .card:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1.05);
}
.stories .card:hover .image-gif-preview {
  display: none;
}
.stories .card:hover .image-gif {
  display: block;
}
.stories .card .image-gif {
  display: none;
}

/* Form */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h3 {
  margin-bottom: 2%;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 3rem;
  }
}

.padding-5 {
  padding-top: 5%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#form input {
  border-radius: 7px;
  border-width: 1px;
}
#form textarea {
  border-radius: 7px;
  border-width: 1px;
  width: 100%;
}
#form input.flex {
  display: flex;
}
#form #email {
  width: 100%;
}
#form label {
  margin-top: 0.5rem;
}
#form input.error {
  box-shadow: 0 0 7px #12282F;
}
#form textarea.error {
  box-shadow: 0 0 7px #12282F;
}

.modal-header {
  background-color: #1c1c1c;
  color: #ffffff;
}

.modal-footer {
  background-color: #1c1c1c;
  color: #ffffff;
}

.form-body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(75, 74, 74, 0.334) url("./image/baby-dance.gif") center/20rem no-repeat;
  opacity: 0;
  visibility: hidden;
}

.sending .form-body::after {
  opacity: 1;
  visibility: visible;
}

/* Footer */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h3 {
  margin-bottom: 2%;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 3rem;
  }
}

.padding-5 {
  padding-top: 5%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  text-align: center;
  background: #f0f0f0;
}
.footer .copyright p {
  margin-bottom: 0;
  padding-bottom: 2%;
}
.footer .bi {
  margin: 1rem;
  font-size: 1.5rem;
  color: #000000;
}

/* Create a baby*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h3 {
  margin-bottom: 2%;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 3rem;
  }
}

.padding-5 {
  padding-top: 5%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.create-baby .carousel-name {
  font-size: 5rem;
}
@media (min-width: 1200px) {
  .create-baby .carousel-name {
    font-size: 6rem;
  }
}
@media (max-width: 992px) {
  .create-baby .carousel-name {
    font-size: 4rem;
  }
}
.create-baby .carousel-caption {
  padding-bottom: 8rem;
  font-size: 2rem;
}
.create-baby img {
  filter: brightness(50%);
}

/*# sourceMappingURL=style.css.map */
