/* About */
@import './base.scss';

.about {
  padding-top: 10vh;
  font-size: 1.3rem;
  text-align: center;

  h3 {
    margin-bottom: 1%;
  }

  .baby-corp {
    padding: 5%;
    width: 100%;
    height: auto;
  }

  .about-text-2 {
    padding: 2% 5%;

    @media (max-width: $bp-large) {
      text-align: justify;
      margin: 1vh;
    }
  }

}

.about-text {
  padding: 8% 3%;

  p {
    text-align: justify;
    margin: 1vh;
  }

  @media (min-width: $bp-largest) {
    p {
      font-size: 1.6rem;
    }
  }

  @media (max-width: $bp-large) {
    padding: 0% 5%;
  }
}
